*{
    margin: 0px;
    padding: 0px;
}

/* {
    background: #ff9700;
    background-color: #2bb0a4;
    background-color: #f7f7f7;
    bachground-color: #6e1d5a;
} */


body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background:  #f7f7f7;
}
.info{
    width: 100vw;
    height: 260vh;
    box-sizing: border-box;   
    background-color: f7f7f7;    
    
}

.banner{
    height: auto;
    margin-top: 5vh;    
    width: 100vw;
    background-color: #6e1d5a;
    box-sizing: border-box;    
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
}

.ti, .con{
    font-family: 'Roboto';
}

.ti{
    font-size: 20px;
    color: #ff9700;
}

.con{
    font-size: 15px;
    color: white;
}

.detalhes{
    margin: auto;
    width: 90vw;
    height: auto;
    padding: 35px;
}

.d1, .d2, .d3, .d4, .d5, .d6{
    overflow: auto;
    width: 80%;
    display: inline-block;
    padding: 5px;
    margin-top: 0;
    min-height: 200px;
    color: #757575;
    line-height: 24px;
}

.fab {
    margin: auto;    
    width: 200px;
    height: 60px;
    background-color: #2bb0a4;
    box-shadow: 0 6px 10px 0 #4B064B;
    transition: all 0.1s ease-in-out;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
 }

 .fab2 {
    margin-left: 80px;    
    background-color: #ff9700;
    box-shadow: 0 6px 10px 0 #666;
    transition: all 0.1s ease-in-out;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    padding: 3px 10px;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    box-sizing: border-box;  
 }

.videoDiv{
    display: none;
    z-index: 10;
    background-color: #6e1d5a;   
    width: 100vw;
}

.video{
    width: 100vw;
}

.x{
    font-family: 'Roboto Bold', sans-serif;
    font-size: 10px;
    color:white;
    cursor: pointer;
    padding: 10px;
}

.slogan, .chamada{
    /* color: #f7f7f7; */
    color: #6e1d5a;
       
}

.slogan{
    font-family: 'Roboto';
    font-size: 20px;
    padding-top: 70px;
    text-align: center; 
    
}

.chamada{
    font-family: 'Roboto Light';
    padding: 20px;    
    font-size: 100%;
    margin-left: 60px; 
}

.smart{
    padding: 8% 20%;
    width: 70vw;
    margin: auto;
    animation-name: flutuar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes flutuar{
    0%{
        transform: translate(0vw, 0vh);
    }

    50%{
        transform: translate(0vw,2vh);
    }

    100%{
        transform: translate(0vw, 0vh);
    }
}

.info2{
    width: 100vw;
}

.vinheta{
    width: 100wv;
    height: auto;
}

.story{
    width: 100%;
}

.introducao, .titulo{
    padding: 40px;
    font-family: 'Roboto Light', sans-serif;
    color: white;
    text-align: center;
}

.int, .tit{
    color: #6e1d5a;
}

.int{
    padding: 40px;    
    text-align: center;
    font-family: 'Roboto Light', sans-serif;
    
}

.tit{
    font-family: 'Roboto', sans-serif;    
    font-size: 60px;
    text-align: center;
}

.introducao{
    float: right;
    width: 330px;     
}

.titulo{
    font-size: 20px;
}

.rodape{
    background-color: #6e1d5a;
    padding: 40px;
    height: auto;
}

.casarodape{
    margin: auto;
    width: 90vw;
    margin-bottom: 30%;
}

.gp, .fab3{
    width: 15vw;
    margin: auto;
}

.final{
    margin-top: 100vh;
    height: auto;     
}
.fim{
    margin-bottom: 5vh;    
    font-family: 'Roboto';
    font-size: 30px;
    padding-top: 90px;
    text-align: center;
    color: #6e1d5a;    
}

/* .gp{
    margin-bottom: 5vh;
    width: 15vw;
    cursor: pointer;
} */

.fab3 {
    margin-bottom: 10vh;
    background-color: #ff9700;
    box-shadow: 0 6px 10px 0 #666;
    transition: all 0.1s ease-in-out;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    width: 150px;
    box-sizing: border-box;  
 }

 .f1 h1{
    padding: 15px;
    font-family: 'Roboto';
    font-size: 20px;
    color: #ff9700;
 }

 .f2 h2{
    padding: 15px;
    font-family: 'Roboto';
    font-size: 20px;
    color: #6e1d5a;
 }

 .f2 h1{
    padding: 15px;
    font-family: 'Roboto';
    font-size: 20px;
    color: #ff9700;
 }

 .f3 h1{
    padding: 15px;
    font-family: 'Roboto';
    font-size: 20px;
    color: #ff9700;
 }

 .f1 p{
    font-family: 'Roboto';    
    padding: 5px;
    font-size: 15px;
    color: white;
 }

 .f2 p{
    font-family: 'Roboto';    
    padding: 5px;
    font-size: 15px;
    color: white;
 }

 .f3 p{
    font-family: 'Roboto';    
    padding: 5px;
    font-size: 15px;
    color: white;
 }

.f3 h3{
    font-family: 'Roboto';    
    font-size: 20px;
    color: white;
    text-align: center;
}

 .f1, .f2, .f3{
     overflow: auto;
     padding: 10px;
     height: auto;
     display: inline-block;
 }

.como{
    margin-bottom: 5vh;    
    font-family: 'Roboto';
    font-size: 20px;
    padding-top: 80vh;
    text-align: center;
    color: #6e1d5a;
}

.nunca{
    margin-top: 25vh;
    height: 100vh;     
}

